body {
    margin: auto;
    max-width: 45em;
    font-family: 'Helvetica', 'Arial', sans-serif;
    background-color: #fffaf0;
}

nav li {
    display: inline-block;
    background: white;
    border-radius: .5em;
    margin: .2em;
}

nav li:hover {
    background-color: rgb(226, 226, 226);
}

nav ul {
    padding: 0;
    margin: .5em;
    text-align: center;
}

h2 {
    margin-top: 0;
}


table {
    width: 80%;
}

td, th {
    border-style: solid;
    border-color: black;
    border-width: 1px;
}

.header {
    background-color: #ffe4e1;
    font-weight: bold;
    text-align: center;
    padding: 1em 1em;
    font-size: 2em;
    border-radius: .5em;
    margin-top: .5em;
}

.content {
   background: white;
   padding: 1.5em 2em;
   border-radius: .5em
}

form {
    padding: .5em;
    background: lavenderblush;
    border-radius: .5em;
    max-width: 20em;
    margin-bottom: 2em;
    margin-left: 2em;
    
}

form label, input{
    margin: auto 0;
}

form #button {
    grid-column-start: 2;
    padding:5px;
    border: none;
    border-radius: .5em;
    text-align: center;
    width: 5em;
    background: white;
}

form #button:hover{
    background-color: rgb(226, 226, 226);
    color: white;
}

a:link, a:visited {
  background-color: white;
  color: black;
  border-radius: .5em;
  padding: .0em .5em;
  text-align: center;
  text-decoration: underline;
  display: inline-block;
}

a:hover, a:active {
  background-color: rgb(226, 226, 226);
  text-decoration: none;
  color: white;
}

a.nav:link, a.nav:visited {
  background-color: white;
  text-decoration: none;
  color: black;
  border-radius: .5em;
  text-align: center;
  padding: .7em 1em .5em;
}

a.nav:hover, a.nav:active {
  background-color: rgb(226, 226, 226);
  color: white;
}


