{% extends "layout.html" %}
{% block content %}

<h2>Tee uusi projekti</h2>

<form action="/add" method="post">

<p>Projektin nimi:<br>
<input type="text" name="name" minlength="1" maxlength="20"></p>

<p>Projektin materiaali:<br>
<input type="text" name="material" minlength="1" maxlength="50"></p>

<p>Aloituspäivä:<br>
<input type="date" name="start_date"></p>

<p>Valmis:<br>
<input type="date" name="finishing_date"></p>

<p>Ohje:<br>
<select name="instruction_used">
{% for instruction in instruction_list %}
<option value={{ instruction[4] }}>{{ instruction[1] }}</option>
{% endfor %}
</select>

<p>

<input type="submit" value="Lähetä">

<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">

</form>

<p>
<a href="/">Palaa takaisin</a>

{% endblock %}
