{% extends "layout.html" %}
{% block content %}

<h2>Tee uusi ohje</h2>

<form action="/add_instruction" method="post">

<p>Ohjeen nimi:<br>
<input type="text" name="name" minlength="1" maxlength="20"></p>

<p>Ohje:<br>
<textarea name="content" rows="5" cols="35" minlength="1" maxlength="1000"></textarea>

<p>Vaikeusaste:<br>
<select name="difficulty">
<option value="1">1
<option value="2">2
<option value="3">3
<option value="4">4
<option value="5">5
</select></p>

<p>

<input id="button" type="submit" value="Lähetä">
<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
</form>

<a href="/own_instructions">Palaa takaisin</a>

{% endblock %}
