{% if session.user_id %}
<h2>Olet kirjautunut sisään.</h2>
<p>
<h1>Yleinen keskustelualue</h1>
<p>
Viestien määrä: {{ count }}
<hr>
{% for message in messages %}
<i>Viesti:</i> {{ message[0] }}
<p>
<i>Lähettäjä:</i> {{ message[1] }}
<p>
<i>Aika:</i> {{ message[2].strftime("%Y-%m-%d %H:%M:%S") }}
<hr>
{% endfor %}
<h1>Projektit</h1>
<p>
Projektien määrä: {{ count }}
<hr>
{% for project in projects %}
<i>Nimi:</i> {{ project[1] }}
<p>
<i>Tekijä:</i> {{ project[0] }}
<p>
<i>Aloitus:</i> {{ project[3].strftime("%Y-%m-%d") }}
<p>
<i>Valmis:</i> {{ project[4].strftime("%Y-%m-%d") }}
<hr>
{% endfor %}
<a href="/new">Lähetä viesti</a> | <a href="/logout">Kirjaudu ulos</a>
{% else %}
<a href="/login">Kirjaudu sisään</a>
{% endif %}
