{% if session.user_id %}
<h1>Etusivu</h1>

<p>

Olet kirjautunut sisään nimellä <b>{{ session.user_username }}</b>. <a href="/logout">Kirjaudu ulos</a>

<p>

<h2>Yleinen keskustelualue</h2>
<p>
Viestien määrä: {{ count }}
<hr>

{% for message in messages %}
<i>Viesti:</i> {{ message[0] }}
<p>
<i>Lähettäjä:</i> {{ message[1] }}
<p>
<i>Aika:</i> {{ message[2].strftime("%Y-%m-%d %H:%M:%S") }}
<hr>
{% endfor %}
<a href="/new">Lähetä viesti</a> 

<h2>Projektit</h2>
<p>
Projektien määrä: {{ p_count }}
<hr>

{% for project in projects %}
<i>Nimi:</i> <a href="/projects/{{ project[4] }}">{{ project[1] }}</a>
<p>
<i>Tekijä:</i> {{ project[0] }}
<hr>
{% endfor %}

<a href="/add">Lisää projekti</a> | <a href="/remove">Poista projekti</a>

<h2>Ohjeet</h2>
<p>
Ohjeiden määrä: {{ o_count }}
<hr>

{% for instruction in instructions %}
<i>Nimi:</i> <a href="/instructions/{{ instruction[4] }}">{{ instruction[1] }}</a>
<p>
<i>Tekijä:</i> {{ instruction[0] }}
<hr>
{% endfor %}

<a href="/add_instruction">Lisää ohje</a> | <a href="/remove_instruction">Poista ohje</a>

{% else %}
Et ole kirjautunut sisään. <a href="/login">Kirjaudu sisään</a>

<p>

Jos sinulla ei ole tunnusta, voit luoda uuden tunnuksen <a href="/register">tästä</a>
{% endif %}
