<!doctype html>

<link rel="stylesheet" href="/static/main.css">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>Käsityösovellus{% block title %}{% endblock %}</title>

<body>
  <div class="header">
        <h1>Käsityösovellus</h1>
  </div>
  <nav>
    <ul>
      <li><a class="nav" href="/">Etusivu</a></li>
      <li><a class="nav" href="/add">Lisää projekti</a></li>
      <li><a class="nav" href="/remove">Poista projekti</a></li>
      <li><a class="nav" href="/add_instruction">Lisää ohje</a></li>
      <li><a class="nav" href="/remove_instruction">Poista ohje</a></li>
      <li><a class="nav" href="/new">Lähetä viesti</a></li>
      <li><a class="nav" href="/remove_message">Poista viesti</a></li>
    </ul>
  </nav>

  <div class="content">
  	{% block content %}{% endblock %}
  </div>
</body>
