<!doctype html>

<link rel="stylesheet" href="/static/main.css">
<meta name="viewport" content="width=device-width, initial-scale=1">

<body>
  <title>Käsityösovellus{% block title %}{% endblock %}</title>
  <h1>Käsityösovellus</h1>
  <nav>
    <ul>
      <li><a href="/">Etusivu</a></li>
      <li><a href="/add">Lisää projekti</a></li>
      <li><a href="/remove">Poista projekti</a></li>
      <li><a href="/add_instruction">Lisää ohje</a></li>
      <li><a href="/remove_instruction">Poista ohje</a></li>
      <li><a href="/new">Lähetä viesti</a></li>
    </ul>
  </nav>
  <hr>
  {% block content %}{% endblock %}
  <hr>
</body>
